{% extends "base.html" %}

{% block content %}

{% if blogposts %}
    <h2>Previous Posts</h2>
    {% for blogpost in blogposts %}
        <div class="post">
            <div class="post-title">
                <a href="\blog\{{blogpost.key().id()}}">{{blogpost.title}}</a>
            </div>
            <p class="post-body">{{blogpost.body}}</p>
        </div>
    {% endfor %}


    <br>

    {% if page>1 %}
        <a href="/blog?page={{page-1}}">&lt; prev</a>
    {% endif %}

    {% if page>1 and next_page_count>0 %}
        &nbsp;&nbsp; | &nbsp;&nbsp;
    {% endif %}

    {% if next_page_count>0 %}
        <a href="/blog?page={{page+1}}">next &gt;</a>
    {% endif %}

{% else %}
    <p>Error: Page number is out of range.</p>
{% endif %}

{% endblock %}
